<!-- Contenedor principal -->
<footer class="footer">

    <!-- Subcontenedor -->
    <div class="footer-container">
    
      <!-- Columnas -->
      <div class="footer-columns">

        <div class="footer-left">
          <img src="assets/LogoAIVPYT.svg" alt="Logo" class="logo" />
          <p>infovolunteerassociation.org</p>
        </div>

        <div class="footer-column">
          <h4>AIVP</h4>
          <ul>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>Recursos</h4>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Tutoriales</a></li>
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>Donaciones</h4>
          <ul>
            <li><a href="#">Haz la Diferencia</a></li>
            <li><a href="#">Cambia Vidas</a></li>
            <li><a href="#">Proyectos Reales</a></li> 
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Términos</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Licencias</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>

      </div>
  
      <!-- Derechos de marca y logos redes sociales -->
      <div class="footer-bottom">
        <p>© 2025 AIVP. Todos los derechos reservados.</p>
        <div class="social-icons">
          <a href="https://co.linkedin.com/company/volunteerassociation" target="_blank" rel="noopener noreferrer">
            <img src="assets/LinkedinLogoGray.svg" alt="LinkedIn" />
          </a>
          <a href="https://www.instagram.com/aivp_iapv/" target="_blank" rel="noopener noreferrer">
            <img src="assets/InstagramLogoGray.svg" alt="Instagram" />
          </a>
          <a href="https://www.tiktok.com/@youngtravelers_co" target="_blank" rel="noopener noreferrer">
            <img src="assets/TikTokLogoGray.svg" alt="TikTok" />
          </a>
        </div>
      </div>


    </div>
  </footer>
  