<!-- Contenedor principal -->
<nav class="navbar">

    <!-- Ícono de menú de hambuerguesa -->
    <div class="menu-icono">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Logo de Young Travelers -->
    <div class="logo">
      <img src="assets/favicon.ico" alt="Logo">
    </div>

    <!-- Botones de inicio de sesión -->
    <div class="btn-login">

      <button class="btn-empresas"> 
        Empresas
      </button>

      <span class="divider"></span>

      <button class="btn-personas"  routerLink="/login-personas">
        <img src="assets/user.svg" class="btn-icono-personas">
        <i class="fas fa-user"></i> Ingresa
      </button>

    </div>

  </nav>
  