.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  .register-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid #caa855;
    text-align: center;
    width: 350px;
  
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-btn {
    background: #caa855;
    color: white;
  }
  
  .linkedin-btn, .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: white;
    border: 1px solid #ccc;
  }
  
  .login-link {
    color: #5c15df;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background: url('../../../assets/Image=15.png') no-repeat;
    background-size: cover;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }