<div class="fondo">
  
    <div class="register-box">

        <h2>¡Bienvenido!</h2>
        <p>Crea tu cuenta</p>

        <input type="email" placeholder="Ingresa tu correo">
        <button class="register-btn">Regístrate</button>

        <button class="linkedin-btn">
          <img src="../../../assets/LinkedinLogoGray.svg" alt="LinkedIn"> Ingresa con LinkedIn
        </button>
        
        <button class="google-btn">
          <img src="../../../assets/LinkedinLogoGray.svg" alt="Google"> Ingresa con Google
        </button>

        <h3>¿Ya tienes cuenta? <a href="/login" class="login-link">Inicia Sesión</a></h3>

    </div>

</div>