/* Estilos generales */
.restore-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../../../assets/Image=15.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.restore-password__box {
  background: white;
  padding: 50px 80px;;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 4px solid #B59348;
  text-align: center;
  max-width: 739px;
  height: 388px;
  width: 100%;
}

.restore-password__title {
  font-size: 24px;
  color: #565656;
  font-weight: bold;
  margin-bottom: 10px;
}

.restore-password__subtitle {
  font-size: 16px;
  color: #565656;
  margin-bottom: 20px;
  font-weight: 500;
}

.restore-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

.restore-password__label {
  font-size: 14px;
  text-align: center;
  color: #565656;
  margin-bottom: 5px;
  align-self: flex-start;
}

.restore-password__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.restore-password__button {
  background: #B59348;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background 0.3s ease;
}

.restore-password__button:hover {
  background: #B59348;
}

.restore-password__footer {
  font-size: 14px;
  color: #565656;
  margin-top: 20px;
}

.restore-password__link {
  color: #5c15df;
  text-decoration: none;
  font-weight: bold;
}

.restore-password__link:hover {
  text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
  .restore-password__box {
    padding: 20px;
    width: 70%;
  }

  .restore-password__title {
    font-size: 20px;
  }

  .restore-password__subtitle {
    font-size: 14px;
  }

  .restore-password__input {
    font-size: 14px;
  }

  .restore-password__button {
    font-size: 14px;
  }

  .restore-password__footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .restore-password__box {
    padding: 15px;
  }

  .restore-password__title {
    font-size: 18px;
  }

  .restore-password__subtitle {
    font-size: 12px;
  }

  .restore-password__input {
    font-size: 12px;
  }

  .restore-password__button {
    font-size: 12px;
  }

  .restore-password__footer {
    font-size: 10px;
  }
}
